<app-header titulo= 'Order info'></app-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Order No.{{ordersService.CurrentOrden.id_d}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <!-- datos generales de la orden -->
    <ion-label>
      <p>Starting time: {{this.ordersService.CurrentOrden.active}}</p>
      <p>Finished time: {{this.ordersService.CurrentOrden.completado}}</p>
    </ion-label>

    <!-- lista con los productos solicitados en la orden -->
    <ion-list>
      <ion-item *ngFor='let item of orderItems | async'>
        <ion-label>
          <h3>{{item.Nombre}}</h3>
          <p *ngIf='item.comentario != ""'>Notes: {{item.comentario}}</p>
          <p *ngIf='item.extras != ""'>Extra: {{item.extras}}</p>
          <p *ngIf='item.sides != ""'>Side: {{item.sides}}</p>
          <p *ngIf='item.nos != ""'>No: {{item.nos}}</p>
          <br>
          <p *ngIf='item.recargos > 0'>+ {{item.recargos}}$</p>
          <p><ion-icon slot="start" name="pricetags-sharp"></ion-icon> {{item.precio}}$ each</p>        
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-label>
      <p>tips: {{this.ordersService.CurrentOrden.tips.toFixed(2)}}</p>
      <p>tax: {{this.ordersService.CurrentOrden.tax.toFixed(2)}}</p>
      <p>Total: {{this.ordersService.CurrentOrden.total.toFixed(2)}} </p>
    </ion-label>
  </ion-card-content>

</ion-card>
</ion-content>