<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ng-template [ngIf]='titulo == "Home"' [ngIfElse]="backpls">
    <ion-buttons slot="start">
      <ion-menu-button menu='userMenu' ></ion-menu-button>
    </ion-buttons>
    </ng-template>

    <ng-template #backpls>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    </ng-template>
    
    <ion-title class="ion-text-center">{{titulo}}</ion-title>

    <ion-buttons slot="end" routerLink='/home'>
        <ion-button>
            <ion-icon name="home-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>