<app-header></app-header>


<ion-content class="ion-padding">

  <!-- --------------------Info estandar del producto (no varia)--------------------------------->
  <!-- imagen del producto -->
  <img src="../../assets/img/categories_default/cat0{{productosService.currentProduct.id_cat_o}}.svg"
       *ngIf="productosService.currentProduct.pic == ''" 
       class="aling-center-item">
  <img src= "{{prodURL}}"
       *ngIf="productosService.currentProduct.pic != ''" 
       class="aling-center-item">

  <!-- Nombre del producto -->
  <ion-card-header>
    <ion-card-title>{{productosService.currentProduct.Nombre}}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-padding">
    <ion-text>
      <!-- Descripcion del producto -->
      <p class="ion-text-lowercase">{{productosService.currentProduct.descripcion}}</p>

      <!-- Precio del producto(varia dependiendo del tamaño) -->
      <p class="top-20" *ngIf='size == 1'>
        <ion-icon name='pricetags'></ion-icon> 
        ${{productosService.currentProduct.precio + recargo}}
      </p>
      <p class="top-20" *ngIf='size == 2'>
        <ion-icon name='pricetags'></ion-icon> 
        ${{productosService.currentProduct.big + recargo}}
      </p>
      <p class="top-20" *ngIf='size == 3'>
        <ion-icon name='pricetags'></ion-icon> 
        ${{productosService.currentProduct.xl + recargo}}
      </p>

    </ion-text>
  </ion-card-content>

  <!-- --------------------Info especifica del producto en la orden--------------------------------->
  <form action="" #productInfoForm='ngForm'>
    <!-- Cantidad de items -->
  <ion-item class="ion-justify-content-center" >
    <ion-button (click)="setQuantity('remove')" fill='clear' color="secondary" size='large' class="aling-center">
      <ion-icon name="remove-circle-outline" ></ion-icon>
    </ion-button>
    
    <p class="aling-center-item">{{cantidad}}</p>

    <ion-button (click)="setQuantity('add')" fill='clear' color="secondary" size='large' class="aling-center">
        <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- tamaño del item -->
  <ion-item>
    <ion-label>Size</ion-label>
    <ion-select placeholder="Individual" name='size' [(ngModel)]="this.size" (open)='chengesize()'>
      <ion-select-option value="1">
        Individual
      </ion-select-option>
      <ion-select-option value="2" 
                         *ngIf='productosService.currentProduct.big > 0'>
      Small Tray ( ${{productosService.currentProduct.big}} )
    </ion-select-option>
      <ion-select-option value="3"
                         *ngIf='productosService.currentProduct.xl > 0'>
      Large Tray ( ${{productosService.currentProduct.xl}} )
    </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- extras, sides y no -->
  <ion-segment (ionChange)="segmentChanged($event)"
               class = 'top-20'
               color='secondary'>

    <ion-segment-button value="extra">
      <ion-label>Extras</ion-label>
    </ion-segment-button>

    <ion-segment-button value="side">
      <ion-label>Sides</ion-label>
    </ion-segment-button>

    <ion-segment-button value="nos">
      <ion-label>Quit</ion-label>
    </ion-segment-button>
    
  </ion-segment>

  <!-- chips de ingredientes en las listas de sides, extras y nos -->
  <p *ngIf='extras.length > 0 && type == "extra"'>
    <ion-chip *ngFor='let extra of extras; let i = index'>
      <ion-label>{{extra.nombre}}</ion-label>
      <ion-icon name="close-circle" (click)="quitIngredient(i, extra)"></ion-icon>
    </ion-chip>
  </p>

  <p *ngIf='sides.length > 0 && type == "side"'>
      <ion-chip *ngFor='let side of sides; let i = index'>
        <ion-label>{{side.nombre}}</ion-label>
        <ion-icon name="close-circle" (click)="quitIngredient(i, side)" ></ion-icon>
      </ion-chip>
  </p>

  <p *ngIf='nos.length > 0 && type == "nos"'>
      <ion-chip *ngFor='let no of nos; let i = index'>
        <ion-label>{{no.nombre}}</ion-label>
        <ion-icon name="close-circle" (click)="quitIngredient(i, no)"></ion-icon>
      </ion-chip>
  </p>

  <!-- listas de ingredientes a agregar -->
  <ion-list *ngIf='type != ""'>
    <ion-item  *ngFor='let ingredient of ingredientes | async | filtro: type: "type"'>
      <ion-label>{{ingredient.nombre}}</ion-label>
      <ion-label *ngIf='ingredient.valor > 0.0' 
                 class="ion-text-end">
        + {{ingredient.valor}}$
      </ion-label>
      <ion-button (click)="addIngredient(ingredient)" 
                  fill="clear" 
                  slot="end" 
                  color="success">
          <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- nombre del ingrediente a quitar  -->
    <ion-item *ngIf="type == 'nos'">
      <ion-label position='floating'>Name of the ingredient you dont want</ion-label>
      <ion-input type="text" clearInput (ionBlur)='seethis($event)' clearOnEdit='false'></ion-input>
    </ion-item>
  </ion-list>

  <!-- comentarios y especificaciones -->
  <ion-item >
    <ion-label position='floating'>Add a coment for the cheff here</ion-label>
    <ion-input type='string' name='comentarios' [(ngModel)]='notes'></ion-input>
  </ion-item>


  <!-- boton de enviar -->
  <ion-button expand='block'
              shape='round' 
              routerLink='/carrito' 
              color="secondary" 
              class="top-20" 
              (click)="addItem()"
              type='submit'>
      Add
  </ion-button>
  </form>

</ion-content>

<app-cart-fab></app-cart-fab>