<app-header titulo='Home'></app-header>

<ion-content class="ion-padding">

    <!-- categorias de productos -->
    <ion-slides mode="ios" [options]='catsSlides'>
        <ion-slide  *ngFor='let cat of categories | async'
                    routerLink='/step1/{{cat.id_cat}}'
                    class="cat-slides">
            <p>
                <ion-thumbnail class="img-center">
                    <ion-img src='../../assets/img/categories_default/cat0{{cat.id_cat}}.svg'></ion-img>
                </ion-thumbnail>
                <ion-label position="stacked" class="ion-text-center">{{cat.nombre_cat}}</ion-label>
            </p>
        </ion-slide>
    </ion-slides>

    <!-- slides con las promociones -->
    <ion-list-header class="top-20">
        <ion-label>Promos</ion-label>
    </ion-list-header>
    <ion-slides mode="ios" pager="ios" scrollbar="ios" class="mdBanner">
        <ion-slide color='warning'>
            <ion-toolbar color='#ffc409' routerLink='/step1'>
                <img src="{{imgURL}}/images/promos/promo11chicks2.jpg" class="img-center">
            </ion-toolbar>
        </ion-slide>

        <ion-slide color='warning'>
            <ion-toolbar color='#ffc409' routerLink='/step1'>
                <img src="{{imgURL}}/images/promos/promo11chicks.jpg" class="img-center">
            </ion-toolbar>
        </ion-slide>
    </ion-slides>

    <!-- lista de restaurantes -->
    <ion-list>
        <ion-list-header>
            <ion-label>Restaurants available</ion-label>
        </ion-list-header>
        <ion-card *ngFor='let restaurant of this.dataService.restaurants'
                  routerLink='/restaurant' 
                  color="light"
                  (click)="setRestaurant(restaurant)"> 
            <img src="{{imgURL}}/images/restaurants/{{restaurant.logo}}" class="logo-img img-center">
            <ion-card-header color="dark" class="logo-header">
                <ion-card-title *ngIf='restaurant.open == 1' class="ion-text-center">View all products</ion-card-title>
                <ion-card-title *ngIf='restaurant.open == 0' class="ion-text-center">Close</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-list>
    
    <!-- ordenes activas -->
    <ion-button fill='clear'
                expand='block'
                class="top-50"
                *ngIf='logged'
                color='dark'>
            Active orders
    </ion-button>
    <ion-slides mode="ios" scrollbar>
        <ion-slide *ngFor="let order of activeOrders | async">
            <ion-card class="slide-card"
                      color="tertiary"
                      (click)="showOrder(order.id_d)">
                <ion-card-header>
                    <ion-card-subtitle>Click here to see more details</ion-card-subtitle>
                    <h3>Order #{{order.id_d}}</h3>
                </ion-card-header>
                <ion-progress-bar value='0.2' color="secondary"></ion-progress-bar>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <!-- <ion-button expand='block' 
                routerLink='/step1' 
                color="dark" 
                class="top-20">
        View all products
    </ion-button> -->


</ion-content>

<app-cart-fab></app-cart-fab>
