.top-20{
    margin-top: 20px;
}

.top-50{
    margin-top: 50px;
}

.mdBanner{
    height: 150px;
}

.slide-card{
    width: 100%;
}

.cat-slides{
 height: 70px;
}


.logo-img{
    height: 100px;
}

.logo-header{
    height: 50px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}