<ion-menu side="start" menuId="userMenu" contentId="main" class="">
    <ion-header class="ion-padding" >
        <ion-toolbar color="dark">
            <ion-title><ion-icon name="person-outline"></ion-icon> 
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle><ion-item routerLink='/user'>User info</ion-item></ion-menu-toggle>
            <ion-menu-toggle><ion-item routerLink='/promos'>Promos</ion-item></ion-menu-toggle>
            <ion-menu-toggle><ion-item routerLink='/history'>History</ion-item></ion-menu-toggle>
            <ion-menu-toggle><ion-item (click)="plsLogOut()">Logout</ion-item></ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>